In [ ]:
string=input('first string')
string1=input('second string')
if (len(string)==len(string1)):
    print('both strings are same length')
else:
  (len(string)!=len(string1))
  print('both stringsa are different length')

first string7
second string6
both strings are same length

In [ ]:
def length(string,string1):
  l1=len(string)
  l2=len(string1)
  if l1>l2:
    print("largest is l1 and the length is: ",l1)
  elif l2>l1:
    print("largest is l2 and the length is: ",l2)
  else:
    print(string)
    print(string1)

st=input('first string')
st1=input('second string')


length(st,st1)

first stringhai
second stringhello
largest is l2 and the length is:  5

In [ ]:
def check(num):
  if num%2==0:
    print('it is an even')
  else:
    print('it is an odd')
num=int(input('enter a number :'))
check(num)

enter a number :5
it is an odd

In [ ]:
num=int(input('enter a number :'))
if num%2==0:
  print('it is an even')
else :
  num%2!=0

  print('it is an odd')

enter a number :6
it is an even

In [ ]:
def square():
  dictionary=dict()
  dictionary[1]=1**1
  dictionary[2]=2**2
  dictionary[3]=3**2
  print(dictionary)

square()

{1: 1, 2: 4, 3: 9}

In [ ]:

def squa():
  di=dict()
  for i in range(1,20+1):
    di[i]=i**2
  print(di)
squa()

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400}

In [ ]:
def aims():
  d=dict()
  for i in range(1,20+1):
    d[i]=i**2
    key=d.keys()
    value=d.values()
  print(value)
aims()

dict_values([1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400])

In [ ]:
def aim():
  d=dict()
  for i in range(1,20+1):
    d[i]=i**2
    key=d.keys()
    value=d.values()
  print(key)
aim()

dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20])

In [ ]:
def lists():
  mylist=[]
  for i in range(1,20+1):
    i=i**2
    mylist.append(i)
  print(mylist[1:6])


lists()

[4, 9, 16, 25, 36]

In [ ]:
def lists():
  mylist=[]
  for i in range(1,20+1):
    i=i**2
    mylist.append(i)
  print(mylist[15:21])

lists()

[256, 289, 324, 361, 400]

In [ ]:
def lists():
  mylist=[]
  for i in range(1,20+1):
    i=i**2
    mylist.append(i)
  print(mylist)
lists()

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [ ]:
def lists():
  mylist=[]
  for i in range(1,20+1):
    i=i**2
    mylist.append(i)
  print(mylist[6:21])
lists()

[49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [ ]:
def tuples():
  mytuple=[]
  for i in range(1,20+1):
    i=i**2
    mytuple.append(i)
  
  b=tuple(mytuple)
  print(b)
  

tuples()

(1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400)

In [ ]:
tuples=(1,2,3,4,5,6,7,8,9,10)
print(tuples[0:5])
print(tuples[5:10])

(1, 2, 3, 4, 5)
(6, 7, 8, 9, 10)

In [ ]:
tuples=(1,2,3,4,5,6,7,8,9,10)
mytuple=[]
for i in tuples:
  if i%2==0:
    mytuple.append(i)
    f=tuple(mytuple)
print(f)

(2, 4, 6, 8, 10)

In [ ]:
p=[1,2,3,4,5,6,7,8,9,10]
l=list(filter(lambda x: x%2==0,  p))
print(l)

TypeError: ignored

In [ ]:
l=[1,2,3,4,5,6,7,8,9,10]
l1=list(map(lambda x:x**2,1))
print(l1)

TypeError: ignored

In [ ]:
rows = int(input("Enter the number of rows: "))
space = 2 * rows - 2  

  

 
for i in range(rows, -1, -1):  
  
    for j in range(space, 0, -1):  
        print(end=" ")  
    space = space + 1  
    
    for j in range(0, i + 1):  
        print("*", end=" ")  
    print("")

Enter the number of rows: 3
    * * * *
     * * *
      * *
       *

In [ ]:
s='python'
l=0
for i in s:
    l=l+1
    print(s[0:0])