In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
homeprice=pd.read_csv("/content/drive/MyDrive/homeprices.csv")
homeprice

   area   price
0  2600  550000
1  3000  565000
2  3200  610000
3  3600  680000
4  4000  725000

In [ ]:
y_train

3    680000
4    725000
0    550000
Name: price, dtype: int64

In [ ]:
x_train

3    3600
4    4000
0    2600
Name: area, dtype: int64

In [ ]:
y=homeprice['price']
x=homeprice['area']

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=100)

In [ ]:
# from sklearn.svm import SVC
# model=SVC()
# model.fit(x_train,y_train)

In [ ]:
from sklearn.svm import SVC
model=SVC()
model.fit(x_train,y_train)

ValueError: ignored

In [ ]:
model.score(x_test,y_test)