In [ ]:
import pandas as pd
import numpy as np
import pickle
from sklearn.model_selection import train_test_split

In [ ]:
data_set=pd.read_csv("/content/drive/MyDrive/homeprices (2).csv")

In [ ]:
data_set

   area   price
0  2600  550000
1  3000  565000
2  3200  610000
3  3600  680000
4  4000  725000

In [ ]:
x=data_set.drop(['price'],axis=1)
y=data_set.drop(['area'],axis=1)

In [ ]:
x

   area
0  2600
1  3000
2  3200
3  3600
4  4000

In [ ]:
y

    price
0  550000
1  565000
2  610000
3  680000
4  725000

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=42)

In [ ]:
x_train

   area
2  3200
0  2600
3  3600

In [ ]:
y_train

    price
2  610000
0  550000
3  680000

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
lr=LinearRegression()

In [ ]:
m=lr.fit(x_train,y_train)

In [ ]:
pickle.dump(lr,open('model.pkl','wb'))

In [ ]:
y_pred=lr.predict(x_test)
y_pred

array([[596315.78947368],
       [723947.36842105]])

In [ ]:
type(x_test)

pandas.core.frame.DataFrame

0    500
dtype: int64

In [ ]:
type(s)

pandas.core.series.Series

In [ ]:
z=int(input("Enter your Area"))
list=[z]
df=pd.DataFrame(list)
df

Enter your Area5000

      0
0  5000

In [ ]:
y_pred=lr.predict(df)
y_pred

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[851578.94736842]])