In [ ]:
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
c=int(input("enter bill amount :"))
d=int(input("enter bill amount :"))
e=int(input("enter bill amount :"))
f=int(input("enter bil amount :"))
g=int(input("enter bill amount :"))
h=int(input("enter bill amount :"))
i=int(input("enter bill amount :"))
j=int(input("enter bill amount :"))
k=int(input("enter bill amount :"))
c1=int(input("enter tip amount :"))
d1=int(input("enter tip amount :"))
e1=int(input("enter tip amount :"))
f1=int(input("enter tip amount :"))
g1=int(input("enter tip amount :"))
h1=int(input("enter tip amount :"))
i1=int(input("enter tip amount :"))
j1=int(input("enter tip amount :"))
k1=int(input("enter tip amount :"))
test1=pd.DataFrame({'bill':[c,d,e,f,g,h,i,j,k],
                   'tip':[c1,d1,e1,f1,g1,h1,i1,j1,k1]})
print(test1)
#predictions=model.predict(test1)
#predictions

enter bill amount :102
enter bill amount :156
enter bill amount :239
enter bil amount :456
enter bill amount :653
enter bill amount :576
enter bill amount :780
enter bill amount :640
enter bill amount :880
enter tip amount :10
enter tip amount :14
enter tip amount :18
enter tip amount :24
enter tip amount :25
enter tip amount :12
enter tip amount :39
enter tip amount :50
enter tip amount :56
   bill  tip
0   102   10
1   156   14
2   239   18
3   456   24
4   653   25
5   576   12
6   780   39
7   640   50
8   880   56

In [ ]:
y=test1['tip']
x=test1.drop(['tip'],axis=1)

In [ ]:
from sklearn.model_selection import  train_test_split

x_train,x_test,y_train,y_test= train_test_split(x,y,random_state=42,test_size=0.25)

In [ ]:
x_train

   bill
0   102
8   880
2   239
4   653
3   456
6   780

In [ ]:
x_test

   bill
7   640
1   156
5   576

In [ ]:
y_train

0    102
8    880
2    239
4    653
3    456
6    780
Name: bill, dtype: int64

In [ ]:
y_test

7    50
1    14
5    12
Name: tip, dtype: int64

In [ ]:
from sklearn import linear_model

lr=linear_model.LinearRegression()

model=lr.fit(x_train,y_train)

In [ ]:
predictions=model.predict(x_train)
predictions

array([ 8.28601724, 46.37123403, 14.99253999, 35.2589664 , 25.6152804 ,
       41.47596195])